{# File Version 1.3 [06.10.2019] #}

{% extends 'app.twig' %}

{% set privacy_shield ='
mit Sitz in den USA ist für das us-europäische Datenschutzübereinkommen „Privacy Shield“ zertifiziert
welches die Einhaltung des in der EU geltenden Datenschutzniveaus gewährleistet.
' %}

{% block content %}
    <!-- v1.2 | 23.09.2019 -->
    <p class="text-center">
        Wir freuen uns dass Sie unsere Website besuchen und bedanken uns f&uuml;r Ihr Interesse.<br>
        Im Folgenden informieren wir Sie &uuml;ber den Umgang mit Ihren personenbezogenen Daten bei Nutzung unserer
        Website.<br>
        Personenbezogene Daten sind hierbei alle Daten mit denen Sie pers&ouml;nlich identifiziert werden k&ouml;nnen.
    </p>
    <!-- 1. | Information uber die Erhebung personenbezogener Daten und Kontaktdaten des Verantwortlichen -->
    <h4><strong>1. Information &uuml;ber die Erhebung personenbezogener Daten und Kontaktdaten des
            Verantwortlichen</strong>
    </h4>
    <p></p>
    <!-- 1.1 | -->
    <p><strong>1.1</strong> Verantwortlicher f&uuml;r die Datenverarbeitung auf dieser Website im Sinne der
        Datenschutz-Grundverordnung (DSGVO) ist</p>
    <address>
        Ursin Filli, <br>
        Filli Group (Einzelunternehmen), <br>
        Kirchbergerstrasse 35, <br>
        9534 G&auml;hwil SG, <br>
        Schweiz <br>
        <br>
        Tel.: +41 (0) 77 438 19 89 <br>
        E-Mail: <a href='mailto:privacy@filli-group.com'>privacy@filli-group.com</a>.
    </address>
    <p>Der f&uuml;r die Verarbeitung von personenbezogenen Daten Verantwortliche ist diejenige nat&uuml;rliche oder
        juristische Person die allein oder gemeinsam mit anderen &uuml;ber die Zwecke und Mittel der Verarbeitung von
        personenbezogenen Daten entscheidet.
        <br><br>
        <!-- 1.2 | -->
        <strong>1.2</strong> Diese Website nutzt aus Sicherheitsgr&uuml;nden und zum Schutz der &uuml;bertragung
        personenbezogene Daten und anderer vertraulicher Inhalte (z.B. Bestellungen oder Anfragen an den
        Verantwortlichen) eine SSL-bzw. TLS-Verschl&uuml;sselung.
        <br>
        Sie k&ouml;nnen eine verschl&uuml;sselte Verbindung an der Zeichenfolge &bdquo;https&ldquo; und dem
        Schloss-Symbol in Ihrer Browserzeile erkennen.
    </p>
    <!-- 2. | Datenerfassung beim Besuch unserer Website -->
    <h4><strong>2. Datenerfassung beim Besuch unserer Website</strong></h4>
    <p>
        Bei der bloss informatorischen Nutzung unserer Website also wenn Sie sich nicht registrieren oder uns
        anderweitig
        Informationen &uuml;bermitteln erheben wir nur solche Daten die Ihr Browser an unseren Server &uuml;bermittelt
        (sog.
        &bdquo;Server-Logfiles&ldquo;).<br>
        Wenn Sie unsere Website aufrufen erheben wir die folgenden Daten die f&uuml;r uns technisch erforderlich sind um
        Ihnen die Website anzuzeigen:
    </p>
    <ul>
        <li>Unsere besuchte Website</li>
        <li>Datum und Uhrzeit zum Zeitpunkt des Zugriffes</li>
        <li>Menge der gesendeten Daten in Byte</li>
        <li>Quelle/Verweis von welchem Sie auf die Seite gelangten</li>
        <li>Verwendeter Browser</li>
        <li>Verwendetes Betriebssystem</li>
        <li>Verwendete IP-Adresse (ggf.: in anonymisierter Form)</li>
    </ul>
    <p>
        Die Verarbeitung erfolgt gem&auml;ss Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der
        Verbesserung der Stabilit&auml;t und Funktionalit&auml;t unserer Website.<br>
        Eine Weitergabe oder anderweitige Verwendung der Daten findet nicht statt.<br>
        Wir behalten uns allerdings vor die Server-Logfiles nachtr&auml;glich zu &uuml;berpr&uuml;fen sollten konkrete
        Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
    </p>
    <!-- 3. Cookies -->
    <h4><strong>3. Cookies</strong></h4>
    <p>
        Um den Besuch unserer Website attraktiv zu gestalten und die Nutzung bestimmter Funktionen zu erm&ouml;glichen
        verwenden wir auf verschiedenen Seiten sogenannte Cookies.<br>
        Hierbei handelt es sich um kleine Textdateien die auf Ihrem Endger&auml;t abgelegt werden.<br>
        Einige der von uns verwendeten Cookies werden nach dem Ende der Browser-Sitzung also nach Schliessen Ihres
        Browsers
        wieder gel&ouml;scht (sog. Sitzungs-Cookies).<br>
        Andere Cookies verbleiben auf Ihrem Endger&auml;t und erm&ouml;glichen uns oder unseren Partnerunternehmen
        (Cookies
        von Drittanbietern) Ihren Browser beim n&auml;chsten Besuch wiederzuerkennen (persistente Cookies).<br>
        Werden Cookies gesetzt erheben und verarbeiten diese im individuellen Umfang bestimmte Nutzerinformationen wie
        Browser- und Standortdaten sowie IP-Adresswerte.<br>
        Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gel&ouml;scht die sich je nach Cookie
        unterscheiden kann.<br><br>
        Teilweise dienen die Cookies dazu durch Speicherung von Einstellungen den Bestellprozess zu vereinfachen (z.B.
        Merken des Inhalts eines virtuellen Warenkorbs f&uuml;r einen sp&auml;teren Besuch auf der Website).<br>
        Sofern durch einzelne von uns implementierte Cookies auch personenbezogene Daten verarbeitet werden erfolgt die
        Verarbeitung gem&auml;ss Art. 6 Abs. 1 lit. b DSGVO entweder zur Durchf&uuml;hrung des Vertrages oder gem&auml;&auml;
        Art. 6 Abs. 1 lit. f DSGVO zur Wahrung unserer berechtigten Interessen an der bestm&ouml;glichen Funktionalit&auml;t
        der Website sowie einer kundenfreundlichen und effektiven Ausgestaltung des Seitenbesuchs.<br><br>
        Wir arbeiten unter Umst&auml;nden mit Werbepartnern zusammen die uns helfen unser Internetangebot f&uuml;r Sie
        interessanter zu gestalten.<br>
        Zu diesem Zweck werden f&uuml;r diesen Fall bei Ihrem Besuch unserer Website auch Cookies von Partnerunternehmen
        auf
        Ihrer Festplatte gespeichert (Cookies von Drittanbietern).<br>
        Wenn wir mit vorbenannten Werbepartnern zusammenarbeiten werden Sie &uuml;ber den Einsatz derartiger Cookies und
        den
        Umfang der jeweils erhobenen Informationen innerhalb der nachstehenden Abs&auml;tze individuell und gesondert
        informiert.<br><br>
        Bitte beachten Sie dass Sie Ihren Browser so einstellen k&ouml;nnen dass Sie &uuml;ber das Setzen von Cookies
        informiert werden und einzeln &uuml;ber deren Annahme entscheiden oder die Annahme von Cookies f&uuml;r
        bestimmte F&auml;lle
        oder generell ausschlie&auml;en k&ouml;nnen.<br>
        Jeder Browser unterscheidet sich in der Art wie er die Cookie-Einstellungen verwaltet.<br>
        Diese ist in dem Hilfemen&uuml; jedes Browsers beschrieben welches Ihnen erl&auml;utert wie Sie Ihre
        Cookie-Einstellungen &auml;ndern k&ouml;nnen.<br>
        Diese finden Sie f&uuml;r die jeweiligen Browser unter den folgenden Links:<br><br>
        Internet Explorer: <a
                href='https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies'>L&ouml;schen
            und Verwalten von Cookies</a><br><br>
        Firefox: <a href='https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen'>Cookies erlauben und ablehnen
            die
            Websites zur Speicherung Ihrer Einstellungen verwenden | Hilfe zu Firefox</a><br><br>
        Chrome: <a href='https://support.google.com/chrome/bin/answer.py?hl=de&hlrm=en&answer=95647'>Cookies in Chrome l&ouml;schen
            aktivieren und verwalten - Computer - Google Chrome-Hilfe</a><br><br>
        Safari: <a href='https://support.apple.com/kb/ph21411?locale=de_DE'>Safari f&uuml;r macOS Sierra: Verwalten von
            Cookies und Websitedaten mit Safari</a><br><br>
        Opera: <a href='http://help.opera.com/Windows/10.20/de/cookies.html'>Opera-Hilfe: Erweiterte Einstellungen >
            Cookies</a><br><br>
        Bitte beachten Sie dass bei Nichtannahme von Cookies die Funktionalit&auml;t unserer Website eingeschr&auml;nkt
        sein
        kann.
    </p>
    <!-- 4. | Kontaktaufnahme-->
    <h4><strong>4. Kontaktaufnahme</strong></h4>
    <p>
        Im Rahmen der Kontaktaufnahme mit uns (z.B. per Kontaktformular oder E-Mail) werden personenbezogene Daten
        erhoben.<br>
        Welche Daten im Falle eines Kontaktformulars erhoben werden ist aus dem jeweiligen Kontaktformular
        ersichtlich.<br>
        Diese Daten werden ausschliesslich zum Zweck der Beantwortung Ihres Anliegens bzw. f&uuml;r die Kontaktaufnahme
        und
        die damit verbundene technische Administration gespeichert und verwendet.<br>
        Rechtsgrundlage f&uuml;r die Verarbeitung der Daten ist unser berechtigtes Interesse an der Beantwortung Ihres
        Anliegens gem&auml;ss Art. 6 Abs. 1 lit. f DSGVO.<br>
        Zielt Ihre Kontaktierung auf den Abschluss eines Vertrages ab so ist zus&auml;tzliche Rechtsgrundlage f&uuml;r
        die
        Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.<br>
        Ihre Daten werden nach abschliessender Bearbeitung Ihrer Anfrage gel&ouml;scht dies ist der Fall wenn sich aus
        den
        Umst&auml;nden entnehmen l&auml;sst dass der betroffene Sachverhalt abschliessend gekl&auml;rt ist und sofern
        keine
        gesetzlichen Aufbewahrungspflichten entgegenstehen.
    </p>
    <!-- 5. | Datenverarbeitung bei Eroffnung eines Kundenkontos und zur Vertragsabwicklung -->
    <h4><strong>5. Datenverarbeitung bei Er&ouml;ffnung eines Kundenkontos und zur Vertragsabwicklung</strong></h4>
    <p>
        Gem&auml;ss Art. 6 Abs. 1 lit. b DGSVO werden personenbezogene Daten weiterhin erhoben und verarbeitet wenn Sie
        uns
        diese zur Durchf&uuml;hrung eines Vertrages oder bei der Er&ouml;ffnung eines Kundenkontos mitteilen.<br>
        Welche Daten erhoben werden ist aus den jeweiligen Eingabeformularen ersichtlich.<br>
        Eine L&ouml;schung Ihres Kundenkontos ist jederzeit m&ouml;glich und kann durch eine Nachricht an die o.g.
        Adresse
        des Verantwortlichen erfolgen.<br>
        Wir speichern und verwenden die von Ihnen mitgeteilten Daten zur Vertragsabwicklung.<br>
        Nach vollst&auml;ndiger Abwicklung des Vertrages oder L&ouml;schung Ihres Kundenkontos werden Ihre Daten mit R&uuml;cksicht
        auf steuer- und handelsrechtliche Aufbewahrungsfristen gesperrt und nach Ablauf dieser Fristen gel&ouml;scht
        sofern
        Sie nicht ausdr&uuml;cklich in eine weitere Nutzung Ihrer Daten eingewilligt haben oder eine gesetzlich erlaubte
        weitere Datenverwendung von unserer Seite vorbehalten wurde &uuml;ber die wir Sie nachstehend entsprechend
        informieren.
    </p>
    <!-- 6. | Kommentarfunktion -->
    <h4><strong>6. Kommentarfunktion</strong></h4>
    <p>
        Im Rahmen der Kommentarfunktion auf dieser Website werden neben Ihrem Kommentar auch Angaben zum Zeitpunkt der
        Erstellung des Kommentars und der von Ihnen gew&auml;hlte Kommentatorenname gespeichert und auf der Website ver&ouml;ffentlicht.<br>
        Ferner wird Ihre IP-Adresse mitprotokolliert und gespeichert.<br>
        Diese Speicherung der IP-Adresse erfolgt aus Sicherheitsgr&uuml;nden und f&uuml;r den Fall dass die betroffene
        Person durch einen abgegebenen Kommentar die Rechte Dritter verletzt oder rechtswidrige Inhalte postet.<br>
        Ihre E-Mailadresse ben&ouml;tigen wir um mit Ihnen in Kontakt zu treten falls ein Dritter Ihren ver&ouml;ffentlichten
        Inhalt als rechtswidrig beanstanden sollte.<br>
        Rechtsgrundlagen f&uuml;r die Speicherung Ihrer Daten sind die Art. 6 Abs. 1 lit.b und f DSGVO.<br>
        Wir behalten uns vor Kommentare zu l&ouml;schen wenn sie von Dritten als rechtswidrig beanstandet werden.<br>
        Die Nachfolgekommentare k&ouml;nnen von Ihnen als Nutzer abonniert werden.<br>
        Sie erhalten hierzu eine Best&auml;tigungs-E-Mail damit sichergestellt werden kann dass Sie der Inhaber der
        angegebenen E-Mail-Adresse sind (Double-Opt-In-Verfahren).<br>
        Die Rechtsgrundlage f&uuml;r die Datenverarbeitung im Falle der Abonnierung von Kommentaren ist Art. 6 Abs. 1
        lit. a
        DSGVO.<br>
        Sie k&ouml;nnen laufende Kommentarabonnements jederzeit mit Wirkung f&uuml;r die Zukunft abbestellen n&auml;here
        Informationen zur Abbestellm&ouml;glichkeit entnehmen Sie bitte der Best&auml;tigungs-E-Mail.
    </p>
    <!-- 7. | Nutzung Ihrer Daten zur Direktwerbung -->
    <h4><strong>7. Nutzung Ihrer Daten zur Direktwerbung</strong></h4>
    <p></p>
    <!-- 7.1 | Direktwerbung | Newsletter -->
    <h5><strong>7.1 Anmeldung zu unserem E-Mail-Newsletter:</strong></h5>
    <p>
        Wenn Sie sich zu unserem E-Mail Newsletter anmelden &uuml;bersenden wir Ihnen regelm&auml;ssig Informationen zu
        unseren Angeboten.<br>
        Pflichtangabe f&uuml;r die &Uuml;bersendung des Newsletters ist allein Ihre E-Mailadresse.<br>
        Die Angabe weiterer evtl. Daten ist freiwillig und wird verwendet um Sie pers&ouml;nlich ansprechen zu
        k&ouml;nnen.<br>
        F&uuml;r den Versand des Newsletters verwenden wir das sog. Double Opt-in Verfahren.<br>
        Dies bedeutet dass wir Ihnen erst dann einen E-Mail Newsletter &uuml;bermitteln werden wenn Sie uns ausdr&uuml;cklich
        best&auml;tigt haben dass Sie in den Versand von Newsletter einwilligen.<br>
        Wir schicken Ihnen dann eine Best&auml;tigungs-E-Mail mit der Sie gebeten werden durch Anklicken eines
        entsprechenden Links zu best&auml;tigen dass Sie k&uuml;nftig Newsletter erhalten wollen.<br>
        Mit der Aktivierung des Best&auml;tigungslinks erteilen Sie uns Ihre Einwilligung f&uuml;r die Nutzung Ihrer
        personenbezogenen Daten gem&auml;ss Art. 6 Abs. 1 lit. a DSGVO.<br>
        Bei der Anmeldung zum Newsletter speichern wir Ihre vom Internet Service-Provider (ISP) eingetragene IP-Adresse
        sowie das Datum und die Uhrzeit der Anmeldung um einen m&ouml;glichen Missbrauch Ihrer E-Mail- Adresse zu einem
        sp&auml;teren
        Zeitpunkt nachvollziehen zu k&ouml;nnen.<br>
        Die von uns bei der Anmeldung zum Newsletter erhobenen Daten werden ausschliesslich f&uuml;r Zwecke der
        werblichen
        Ansprache im Wege des Newsletters benutzt.<br>
        Sie k&ouml;nnen den Newsletter jederzeit &uuml;ber den daf&uuml;r vorgesehenen Link im Newsletter oder durch
        entsprechende Nachricht an den eingangs genannten Verantwortlichen abbestellen.<br>
        Nach erfolgter Abmeldung wird Ihre E-Mailadresse unverz&uuml;glich in unserem Newsletter-Verteiler gel&ouml;scht
        soweit Sie nicht ausdr&uuml;cklich in eine weitere Nutzung Ihrer Daten eingewilligt haben oder wir uns eine dar&uuml;berhinausgehende
        Datenverwendung vorbehalten die gesetzlich erlaubt ist und &uuml;ber die wir Sie in dieser Erkl&auml;rung
        informieren.
    </p>
    <!-- 8. | Verwendung von Sozialen Medien: Videos -->
    <h4><strong>8. Verwendung von Sozialen Medien: Videos</strong></h4>
    <p></p>
    <!-- 8.1 | Social Medien Videos | YouTube -->
    <h5><strong>8.1 Verwendung von Youtube-Videos</strong></h5>
    <p>
        Diese Website nutzt die Youtube-Einbettungsfunktion zur Anzeige und Wiedergabe von Videos des Anbieters &bdquo;Youtube&ldquo;
        der zu der Google LLC. 1600 Amphitheatre Parkway Mountain View CA 94043 USA (&bdquo;Google&ldquo;)
        geh&ouml;rt.<br>
        Hierbei wird der erweiterte Datenschutzmodus verwendet der nach Anbieterangaben eine Speicherung von
        Nutzerinformationen erst bei Wiedergabe des/der Videos in Gang setzt.<br>
        Wird die Wiedergabe eingebetteter Youtube-Videos gestartet setzt der Anbieter &bdquo;Youtube&ldquo; Cookies ein
        um
        Informationen &uuml;ber das Nutzerverhalten zu sammeln.<br>
        Hinweisen von &bdquo;Youtube&ldquo; zufolge dienen diese unter anderem dazu Videostatistiken zu erfassen die
        Nutzerfreundlichkeit zu verbessern und missbr&auml;uchliche Handlungsweisen zu unterbinden.<br>
        Wenn Sie bei Google eingeloggt sind werden Ihre Daten direkt Ihrem Konto zugeordnet wenn Sie ein Video
        anklicken.<br>
        Wenn Sie die Zuordnung mit Ihrem Profil bei YouTube nicht w&uuml;nschen m&uuml;ssen Sie sich vor Aktivierung des
        Buttons ausloggen.<br>
        Google speichert Ihre Daten (selbst f&uuml;r nicht eingeloggte Nutzer) als Nutzungsprofile und wertet diese aus.<br>
        Eine solche Auswertung erfolgt insbesondere gem&auml;ss Art. 6 Abs. 1 lit.f DSGVO auf Basis der berechtigten
        Interessen von Google an der Einblendung personalisierter Werbung Marktforschung und/oder bedarfsgerechten
        Gestaltung seiner Website.<br>
        Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile wobei Sie sich zur Aus&uuml;bung
        dessen
        an YouTube richten m&uuml;ssen.<br>
        Unabh&auml;ngig von einer Wiedergabe der eingebetteten Videos wird bei jedem Aufruf dieser Website eine
        Verbindung
        zum Google-Netzwerk &bdquo;DoubleClick&ldquo; aufgenommen was ohne unseren Einfluss weitere
        Datenverarbeitungsvorg&auml;nge
        ausl&ouml;sen kann.<br><br>
        Google LLC mit Sitz in den USA ist f&uuml;r das us-europ&auml;ische Datenschutz&uuml;bereinkommen &bdquo;Privacy
        Shield&ldquo; zertifiziert welches die Einhaltung des in der EU geltenden Datenschutzniveaus gew&auml;hrleistet.<br><br>
        Weitere Informationen zum Datenschutz bei &bdquo;YouTube&ldquo; finden Sie in der Datenschutzerkl&auml;rung des
        Anbieters unter: <a href='https://www.google.com/policies/privacy/'>https://www.google.com/policies/privacy/</a>
    </p>
    <!-- 9. | Tools und Sonstiges -->
    <h4><strong>9. Tools und Sonstiges</strong></h4>
    <p></p>
    <!-- 9.1 | CDNs -->
    <h5><strong>9.1 CDNs</strong></h5>
    <p>
        Unsere Dienste nutzen verschiedene CDN Dienste.<br>
        CDNs bewirken dass die Ladezeiten von Java-Script Bibliotheken, Schriftarten, Bilder und Designs verkürzt werden
        weil die Dateien von schnelleren, standortnahen oder wenig ausgelasteten Servern übertragen werden.<br>
        Dabei wird unter anderem Ihre IP-Adresse an die Anbieter übertragen.<br>
        Diese Anbieter betreibt Server in der EU, es kann jedoch nicht ausgeschlossen werden dass Ihr Browser auch auf
        Server ausserhalb der EU zugreift.<br>
        Die Inhalte unseres Dienstes und die Kommunikation werden nicht über CDNs abgewickelt.<br>
        Um die Ausführung von Java-Script insgesamt zu verhindern können Sie in Ihrem Browser einen Java-Script-Blocker
        installieren.<br>
        Wir Nutzen folgende CDN Dienste:
    </p>
    <ul>
        <li>Statically (cdn.statically.io) von Marsble, Ambarketawang Gamping 55294 Sleman Yogyakarta Indonesia.</li>
        <li>JsDeliver (cdn.jsdelivr.net) von Prospect One.</li>
        <li>now.sh (cdn.filli-group.com) von ZEIT, Inc., 1046 Kearny Street, San Francisco, CA 94133 USA.</li>
    </ul>
    <p>
        Weitere Informationen zum Datenschutz bei Marsble finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://www.statically.io/privacy'>https://www.statically.io/privacy</a>
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei Prospect One finden Sie in der Datenschutzerklärung des Anbieters
        unter:
        <a href='https://www.jsdelivr.com/privacy-policy-jsdelivr-net/'>https://www.jsdelivr.com/privacy-policy-jsdelivr-net/</a>
        <br>
        <br>
        ZEIT Inc. {{ privacy_shield }}
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei ZEIT finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://zeit.co/privacy'>https://zeit.co/privacy</a>
    </p>
    <!-- 9.2 | Images | Imgur -->
    <h5><strong>9.2 Imgur</strong></h5>
    <p>
        Unsere Dienste nutzen Imgur ein Bild Hosting Service von Imgur Inc., 415 Jackson Street, Ste. 200, San
        Francisco, CA 94111 USA.
        <br>
        <br>
        Imgur Inc. {{ privacy_shield }}
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei Imgur finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://imgur.com/privacy'>https://imgur.com/privacy</a><br>
    </p>
    <!-- 9.3 | Code | GitLab -->
    <h5><strong>9.3 GitLab</strong></h5>
    <p>
        Unsere Dienste nutzen GitLab ein Sourccode Hosting Service von GitLab B.V., San Francisco, CA USA.
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei GitLab finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://about.gitlab.com/privacy/'>https://about.gitlab.com/privacy/</a>
    </p>
    <!-- 9.4 | Code | GitHub -->
    <h5><strong>9.4 GitHub</strong></h5>
    <p>
        Unsere Dienste nutzen GitHub ein Sourccode Hosting Service von GitHub Inc, 88 Colin P Kelly Jr Street, San
        Francisco, CA 94107 USA.
        <br>
        <br>
        GitHub Inc. {{ privacy_shield }}
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei GitHub finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://help.github.com/articles/github-privacy-statement/'>https://help.github.com/articles/github-privacy-statement/</a>
    </p>
    <!-- 9.5 | Google | ReCaptcha -->
    <h5><strong>9.5 Google ReCaptcha</strong></h5>
    <p>
        Unsere Dienste nutzen Google ReCaptcha von Google LLC., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA.
        <br>
        Google ReCaptcha ist ein Webdienst zur Erkennung von Bots z.B. bei Eingaben in Onlineformularen
        <br>
        <br>
        Google LLC {{ privacy_shield }}
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei Google finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://www.google.com/policies/privacy/'>https://www.google.com/policies/privacy/</a>
    </p>
    <!-- 9.6 | Google | Fonts -->
    <h5><strong>9.6 Google Fonts</strong></h5>
    <p>
        Auf unserer Website verwenden wir zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts* die von
        Google LLC., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA bereitgestellt werden. <br>
        Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in ihren Browser-Cache um Texte und
        Schriftarten korrekt anzuzeigen.
        <br>
        <br>
        Google LLC {{ privacy_shield }}
        <br>
        <br>
        Weitere Informationen zum Datenschutz bei Google finden Sie in der Datenschutzerklärung des Anbieters unter:
        <a href='https://www.google.com/policies/privacy/'>https://www.google.com/policies/privacy/</a>
    </p>
    <!-- 9.7 | Script | Browser Update -->
    <h5><strong>9.7 Browser-Update.org</strong></h5>
    <p>
        Unsere Dienste nutzen Browser-Update.org von Team23 GmbH, Beim Glaspalast 1, 86153 Augsburg, Deutschland.
        <br>
        Browser-Update.org informiert Benutzer über Updates für ihren Webbrowser.
    </p>
    <!-- 10. | Rechte des Betroffenen -->
    <h4><strong>10. Rechte des Betroffenen</strong></h4>
    <p></p>
    <!-- 10.1 | -->
    <p><strong>10.1</strong> Das geltende Datenschutzrecht gew&auml;hrt Ihnen gegen&uuml;ber dem Verantwortlichen
        hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten umfassende Betroffenenrechte (Auskunfts- und
        Interventionsrechte) &uuml;ber die wir Sie nachstehend informieren: </p>
    <ul>
        <li><strong>Auskunftsrecht gem&auml;ss Art. 15 DSGVO:</strong> Sie haben insbesondere ein Recht auf Auskunft
            &uuml;ber
            Ihre von uns verarbeiteten personenbezogenen Daten die Verarbeitungszwecke die Kategorien der verarbeiteten
            personenbezogenen Daten die Empf&auml;nger oder Kategorien von Empf&auml;ngern gegen&uuml;ber denen Ihre
            Daten
            offengelegt wurden oder werden die geplante Speicherdauer bzw. die Kriterien f&uuml;r die Festlegung der
            Speicherdauer das Bestehen eines Rechts auf Berichtigung L&ouml;schung Einschr&auml;nkung der Verarbeitung
            Widerspruch gegen die Verarbeitung Beschwerde bei einer Aufsichtsbeh&ouml;rde die Herkunft Ihrer Daten wenn
            diese nicht durch uns bei Ihnen erhoben wurden das Bestehen einer automatisierten Entscheidungsfindung
            einschliesslich Profiling und ggf. aussagekr&auml;ftige Informationen &uuml;ber die involvierte Logik und
            die
            Sie betreffende Tragweite und die angestrebten Auswirkungen einer solchen Verarbeitung sowie Ihr Recht auf
            Unterrichtung welche Garantien gem&auml;ss Art. 46 DSGVO bei Weiterleitung Ihrer Daten in Drittl&auml;nder
            bestehen;
        </li>
        <li><strong>Recht auf Berichtigung gem&auml;ss Art. 16 DSGVO:</strong> Sie haben ein Recht auf unverz&uuml;gliche
            Berichtigung Sie betreffender unrichtiger Daten und/oder Vervollst&auml;ndigung Ihrer bei uns gespeicherten
            unvollst&auml;ndigen Daten;
        </li>
        <li><strong>Recht auf L&ouml;schung gem&auml;ss Art. 17 DSGVO:</strong> Sie haben das Recht die L&ouml;schung
            Ihrer
            personenbezogenen Daten bei Vorliegen der Voraussetzungen des Art. 17 Abs. 1 DSGVO zu verlangen. Dieses
            Recht
            besteht jedoch insbesondere dann nicht wenn die Verarbeitung zur Aus&uuml;bung des Rechts auf freie Meinungs&auml;usserung
            und Information zur Erf&uuml;llung einer rechtlichen Verpflichtung aus Gr&uuml;nden des &ouml;ffentlichen
            Interesses oder zur Geltendmachung Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen erforderlich
            ist;
        </li>
        <li><strong>Recht auf Einschr&auml;nkung der Verarbeitung gem&auml;ss Art. 18 DSGVO:</strong> Sie haben das
            Recht
            die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen solange die von Ihnen
            bestrittene Richtigkeit Ihrer Daten &uuml;berpr&uuml;ft wird wenn Sie eine L&ouml;schung Ihrer Daten wegen
            unzul&auml;ssiger
            Datenverarbeitung ablehnen und stattdessen die Einschr&auml;nkung der Verarbeitung Ihrer Daten verlangen
            wenn
            Sie Ihre Daten zur Geltendmachung Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen ben&ouml;tigen
            nachdem wir diese Daten nach Zweckerreichung nicht mehr ben&ouml;tigen oder wenn Sie Widerspruch aus Gr&uuml;nden
            Ihrer besonderen Situation eingelegt haben solange noch nicht feststeht ob unsere berechtigten Gr&uuml;nde
            &uuml;berwiegen;
        </li>
        <li><strong>Recht auf Unterrichtung gem&auml;ss Art. 19 DSGVO:</strong> Haben Sie das Recht auf Berichtigung L&ouml;schung
            oder Einschr&auml;nkung der Verarbeitung gegen&uuml;ber dem Verantwortlichen geltend gemacht ist dieser
            verpflichtet allen Empf&auml;ngern denen die Sie betreffenden personenbezogenen Daten offengelegt wurden
            diese
            Berichtigung oder L&ouml;schung der Daten oder Einschr&auml;nkung der Verarbeitung mitzuteilen es sei denn
            dies
            erweist sich als unm&ouml;glich oder ist mit einem unverh&auml;ltnism&auml;ssigen Aufwand verbunden. Ihnen
            steht
            das Recht zu &uuml;ber diese Empf&auml;nger unterrichtet zu werden.
        </li>
        <li><strong>Recht auf Daten&uuml;bertragbarkeit gem&auml;ss Art. 20 DSGVO:</strong> Sie haben das Recht Ihre
            personenbezogenen Daten die Sie uns bereitgestellt haben in einem strukturierten g&auml;ngigen und
            maschinenlesebaren Format zu erhalten oder die &Uuml;bermittlung an einen anderen Verantwortlichen zu
            verlangen
            soweit dies technisch machbar ist;
        </li>
        <li><strong>Recht auf Widerruf erteilter Einwilligungen gem&auml;ss Art. 7 Abs. 3 DSGVO:</strong> Sie haben das
            Recht eine einmal erteilte Einwilligung in die Verarbeitung von Daten jederzeit mit Wirkung f&uuml;r die
            Zukunft
            zu widerrufen. Im Falle des Widerrufs werden wir die betroffenen Daten unverz&uuml;glich l&ouml;schen sofern
            eine weitere Verarbeitung nicht auf eine Rechtsgrundlage zur einwilligungslosen Verarbeitung gest&uuml;tzt
            werden kann. Durch den Widerruf der Einwilligung wird die Rechtm&auml;ssigkeit der aufgrund der Einwilligung
            bis
            zum Widerruf erfolgten Verarbeitung nicht ber&uuml;hrt;
        </li>
        <li><strong>Recht auf Beschwerde gem&auml;ss Art. 77 DSGVO:</strong> Wenn Sie der Ansicht sind dass die
            Verarbeitung
            der Sie betreffenden personenbezogenen Daten gegen die DSGVO verst&ouml;sst haben Sie - unbeschadet eines
            anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs - das Recht auf Beschwerde bei einer
            Aufsichtsbeh&ouml;rde insbesondere in dem Mitgliedstaat Ihres Aufenthaltsortes Ihres Arbeitsplatzes oder des
            Ortes des mutmasslichen Verstosses.
        </li>
    </ul>
    <!-- 10.2 | Wiederspruchsrecht -->
    <h4><strong>10.2 WIDERSPRUCHSRECHT</strong></h4>
    <p>
        WENN WIR IM RAHMEN EINER INTERESSENABW&Auml;GUNG IHRE PERSONENBEZOGENEN DATEN AUFGRUND UNSERES &Uuml;BERWIEGENDEN
        BERECHTIGTEN INTERESSES VERARBEITEN HABEN SIE DAS JEDERZEITIGE RECHT AUS GR&Uuml;NDEN DIE SICH AUS IHRER
        BESONDEREN
        SITUATION ERGEBEN GEGEN DIESE VERARBEITUNG WIDERSPRUCH MIT WIRKUNG F&Uuml;R DIE ZUKUNFT EINZULEGEN.<br>
        MACHEN SIE VON IHREM WIDERSPRUCHSRECHT GEBRAUCH BEENDEN WIR DIE VERARBEITUNG DER BETROFFENEN DATEN.<br>
        EINE WEITERVERARBEITUNG BLEIBT ABER VORBEHALTEN WENN WIR ZWINGENDE SCHUTZW&Uuml;RDIGE GR&Uuml;NDE F&Uuml;R DIE
        VERARBEITUNG NACHWEISEN K&Ouml;NNEN DIE IHRE INTERESSEN GRUNDRECHTE UND GRUNDFREIHEITEN &Uuml;BERWIEGEN ODER
        WENN
        DIE VERARBEITUNG DER GELTENDMACHUNG AUS&Uuml;BUNG ODER VERTEIDIGUNG VON RECHTSANSPR&Uuml;CHEN DIENT.<br>
        WERDEN IHRE PERSONENBEZOGENEN DATEN VON UNS VERARBEITET UM DIREKTWERBUNG ZU BETREIBEN HABEN SIE DAS RECHT
        JEDERZEIT
        WIDERSPRUCH GEGEN DIE VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE DERARTIGER WERBUNG
        EINZULEGEN.<br>
        SIE K&Ouml;NNEN DEN WIDERSPRUCH WIE OBEN BESCHRIEBEN AUS&Uuml;BEN.<br>
        MACHEN SIE VON IHREM WIDERSPRUCHSRECHT GEBRAUCH BEENDEN WIR DIE VERARBEITUNG DER BETROFFENEN DATEN ZU
        DIREKTWERBEZWECKEN.
    </p>
    <!-- 11. | Dauer der Speicherung personenbezogener Daten -->
    <h4><strong>11. Dauer der Speicherung personenbezogener Daten</strong></h4>
    <p>
        Die Dauer der Speicherung von personenbezogenen Daten bemisst sich anhand der jeweiligen gesetzlichen
        Aufbewahrungsfrist (z.B. handels- und steuerrechtliche Aufbewahrungsfristen).<br>
        Nach Ablauf der Frist werden die entsprechenden Daten routinem&auml;ssig gel&ouml;scht sofern sie nicht mehr zur
        Vertragserf&uuml;llung oder Vertragsanbahnung erforderlich sind und/oder unsererseits kein berechtigtes
        Interesse an
        der Weiterspeicherung fortbesteht.
    </p>
    <!-- 12. | Anderung unserer Datenschutzbestimmungen -->
    <h4><strong>12. &Auml;nderung unserer Datenschutzbestimmungen</strong></h4>
    <p>
        Wir behalten uns vor diese Datenschutzerkl&auml;rung anzupassen damit sie stets den aktuellen rechtlichen
        Anforderungen entspricht oder um &auml;nderungen unserer Leistungen in der Datenschutzerkl&auml;rung umzusetzen
        z.B. bei der Einf&uuml;hrung neuer Services.
        <br>
        F&uuml;r Ihren erneuten Besuch gilt dann die neue Datenschutzerkl&auml;rung.
    </p>
{% endblock %}
